p.simple-card {
margin: 0;
background-color: #fff;
color: #DE5454;
padding: 30px;
border-radius: 7px;
min-width: 100px;
text-align: center;
box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); 
}
.hv-item-parent p {
font-weight: bold; 
}

.management-hierarchy > h1 {
	color: #FFF; 
}
.management-hierarchy .person {
	text-align: center; 
}
.management-hierarchy .person > img {
	height: 110px;
	border: 3px solid #303840;
	border-radius: 50%;
	overflow: hidden; 
}
.management-hierarchy .person > p.name {
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	position: relative;
	border: 1px solid #303840; 
}
.management-hierarchy .person > p.name b {
	color: rgba(59, 170, 157, 0.5); 
}
.management-hierarchy .person > p.name:before {
content: '';
position: absolute;
width: 2px;
height: 8px;
background-color: #303840;
left: 50%;
top: 0;
transform: translateY(-100%); 
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child.hijo-unico:last-child:after {
	width: 0;
}

.management-hierarchy .puesto_actual .person > .name {
	font-weight: bolder;
	font-size: 150%;
}

.person {
	min-width: 105px;
}